body {
    background-color: #ffffff;
  }
  
  .banner {
    position: relative;
    height: 100vh;
    background-color: #FFFFFF;
    display: flex;
    align-items: center;
   
    padding: 40px 0;
    overflow: hidden;
  }
  
  .logo {
    max-width: 400px;
  
  }
  
  .subtitle {
    color: #2B9D68;
    font-size: 1.75rem;
    font-weight: 400;
    font-family: 'Rubik';
    margin-top: 40px;
    max-width: 600px;
  }

  
  .background-image {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 30%;
    background: url('./icons/image-banner.png') no-repeat center center;
    background-size: cover;
    opacity: 0.6;
    z-index: 1;
    mask-image: linear-gradient(to right, transparent, #ffffff 50%, #F5F5F5 100%);
  }
  
  
  .text-content {
    z-index: 2;
    text-align: left;
    margin-left: 30px;
  }
  
  @media (max-width: 767px) {
    .banner {
    height: 100vh;
      }
      .logo {
        margin-bottom: 20px;
        max-width: 150px;
      }
      .subtitle {
        font-size: 1.25rem;
        max-width: 300px;

      }
      .text-content{
        margin-left: 0;
        margin-bottom: 300px;
        padding: 20px;
      }
      .background-image {
       left: 0;
       top:50%;
        mask-image: linear-gradient(to bottom, transparent, #ffffff 50%, #F5F5F5 100%);
      }
  }
  

  /* SERVICIOS SECTION */


  .combined-section {
    background: url('./img/fondo-2.svg') no-repeat center center;
   background-size: cover;
    padding: 60px 0;
  }

.services-section {
    
    margin-top: 50px;
  }
  
  .icon {
    max-width: 130px;
  }
  
  .services-title {
    color: #2B9D68;
    font-size: 30px;
    font-weight: bold;
    text-align: left;
  }
  
  .services-subtitle {
    color: #0A0F13;
    font-size: 18px;
    font-weight: 500;
    text-align: left;
  }
  
  .service-card {
    border: none;
    border-radius: 10px;
    padding: 40px 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 500px;
    height: 200px;
  
  }
  
  .service-card .card-title {
    color: #0A0F13;
    font-weight: bold;
    font-size: 24px;
    text-align: center;
    margin-bottom: 20px;
  }
  
  .service-card .card-text {
    color: #333333;
    text-align: center;
    font-size: 14px;
  }
  
  @media (max-width: 767px) {
    .services-section .row {
        flex-direction: column;
        text-align: center;
      }
      .services-title {
        margin-top: 20px;
        font-size: 20px;
      }
      .services-subtitle{
        font-size: 14px;
        line-height: 1;
      }
      .service-card {
        margin-bottom: 20px;
       
      }
      .service-card .card-title {
        font-size: 20px;
        margin-bottom: 20px;
      }
      .service-card .card-text{
        font-size: 14px;
        line-height: 1;
      }
      .icon{
        max-width: 100px;
      }
  }
  

  /* INVEST SECTION */

  
  .icon {
    max-width: 130px;
  }
  
  .invest-title {
    color:#E0A038;
    font-size: 30px;
    font-weight: bold;
  }
  
  .invest-card {
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 40px 0px;
    width: 300px;
    height: 200px;
    margin: 0 10px; 
    background-color: rgba(255, 255, 255, 0.6);
    border: 1px solid #E0A038;
  }
  
  .invest-card .card-title {
    color: #0A0F13;
    font-weight: bold;
    font-size: 24px;
  }
  
  .invest-card .card-text {
    color: #0A0F13;
    font-size: 14px;
  }
  
  @media (max-width: 767px) {
    .combined-section {
        background: url('./img/fondo-mobile.png') no-repeat center center;
        background-size: cover;
        padding-bottom: 0 !important;
      }
    .invest-section .row {
      flex-direction: column;
      text-align: center;
    }
    .invest-title {
      margin-top: 20px;
      font-size: 20px;
      text-align: left;
    }
    .invest-card {
      margin-bottom: 20px;
      width: 340px;
      height: 175px;
    }
    .icon{
        max-width: 100px;
    }
  }


  /* CARD SECTION */


.card-section {
 
  padding: 60px 0;
}

.custom-shadow {
  border-radius: 10px;
  box-shadow: 4px 4px 0px rgba(0, 0, 0, 0.1);
  background-color: #ffffff;
  padding: 20px;
  margin: 0 10px; 
  border: none;


}

.custom-shadow .card-title {
  color: #2B9D68;
  font-size: 30px;
  font-weight: bold;
  margin-bottom: 20px;
}

.custom-shadow .card-text {
  color: #0A0F13;
}

@media (max-width: 767px) {
  .custom-shadow {
    margin-bottom: 20px;
  }
  .custom-shadow .card-title {
    color: #2B9D68;
    font-size: 18px;
    font-weight: bold;
  }
  .custom-shadow .card-text {
    color: #0A0F13;
    font-size: 12px;
  }
}


/*SECCION 4 CARDS */


.feature-card-section {
 
  padding: 60px 0;
}

.custom-feature-shadow {
  border-radius: 10px;
  box-shadow: 4px 4px 0px rgba(0, 0, 0, 0.1);
  background-color: #ffffff;
  padding:10px 20px;
  margin: 0 10px; 
  border: none;
  width: 290px;
  height: 200px;
}


.custom-feature-shadow-1 {
  border-radius: 10px;
  box-shadow: 4px 4px 0px rgba(0, 0, 0, 0.1);
  background-color: #ffffff;
  padding:0px 20px;
  margin: 0 10px; 
  border: none;
  width: 290px;
  height: 200px;
}

.custom-feature-shadow .feature-card-icon {
  max-width: 60px; /* Adjust the size of the icon */
  margin-bottom: 10px; /* Add some space between the icon and the title */
}
.custom-feature-shadow .feature-card-title {
  color: #2B9D68;
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
  line-height: 1.5;
  text-align: center;
}

.custom-feature-shadow .feature-card-text {
  color: #0A0F13;
  font-size: 14px;
  line-height: 1;
}
.custom-feature-shadow-1 .feature-card-icon {
  max-width: 60px;
  margin-bottom: 10px; 
}
.custom-feature-shadow-1 .feature-card-title {
  color: #2B9D68;
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
  line-height: 1.5;
  text-align: center;
}

.custom-feature-shadow-1 .feature-card-text {
  color: #0A0F13;
  font-size: 14px;
  line-height: 1;
}
@media (max-width: 767px) {
  .row {
    justify-content: center;
  }
  .custom-feature-shadow {
    width: 290px; 
    height: 200px; 
    margin: 10px auto; 
  }
  .custom-feature-shadow-1 {
    width: 290px;
    height: 200px; 
    margin: 10px auto;
  }
}
.card-section ul {
  list-style-type: none; 
  padding: 0; 
  margin: 0; 
}

.card-section ul li {
  margin-bottom: 1px; 
}
.footer-section {
  background-color: #242425;
  color: #ffffff;
}

.footer-title {
  font-size: 1.25rem;
  color: #ffffff;
}

.social-icons a {
  display: inline-block;
  color: #ffffff;
  text-decoration: none;
}

.social-icons a img {
  width: 24px;
  height: 24px; 
}

.footer-text {
  font-size: 0.875rem;
  color: #ffffff;
}

.footer-link {
  color: #ffffff;
  text-decoration: underline;
}

.footer-link:hover {
  color: #E0A038; 
  text-decoration: none;
}
@media (max-width: 767px) {
.footer-title{
  font-size: 1em;
  
}
.social-icons img {
  width: 20px;
  height: 20px;
}
}


.divider-line {
  width: 300px;
  height: 5px;
  background-color: #E0A038;
  margin: 0 auto; 
}

.divider-line-2 {
  width: 300px;
  height: 5px;
  background-color: #2B9D68;
  margin: 0 auto; 
}